<center>
<!-- <h2> Campaign </h2>
 -->
<img src="{{ site.baseurl}}/images/alch_header.png" height="100%" width="100%">

<ul class="nav nav-pills nav-stacked">
  <li class="nav-item">
    <a class="nav-link" href="{{ site.baseurl}}/about/">our team</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ site.baseurl}}/games/">games</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ site.baseurl}}/blog/">blog</a>
  </li>

  <li class="nav-item">
    <a class="nav-link disabled" href="{{ site.baseurl}}/contact/">contact us</a>
  </li>
</ul>

</center>
